* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-image: url(background.jpg);
    background-size: cover;
}

nav {
    position: sticky;
    display: flex;
    background: rgb(165, 46, 46);
    justify-content: space-around;
    padding: 0 30px;
    height: 80px;
    align-items: center;
    color: white;
    opacity: 0.9;
}

nav .logo {
    font-weight: 900;
    font-size: 48px;
    font-family: 'Island Moments', cursive;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
}

.card1 {
    width: 300px;
    height: 400px;
    background-color: white;
    z-index: 100;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}

.card2 {
    width: 300px;
    height: 400px;
    background-color: white;
    z-index: 100;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}

.card3 {
    width: 300px;
    height: 400px;
    background-color: white;
    z-index: 100;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}





